.main-menuExplain .main-menuImg{
    height: 130px;
}
.main-menuExplain{
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #494949;
    width: 95%;
    margin-left: 30px;
}

.main-menuExplain-title {
    margin-left:20px;
    font-size: 20px
}

.main-menuExplain-summary{
    margin-left:20px;
    color: #9c9a9a;
}
