<!doctype html>
<html ng-app="learnApp">
<head>
	<meta charset="utf-8"/>
	<title>e-learning</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="./lib/js-sha256-master/src/sha256.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="dist/vendor-bundle.js"></script>

    <script src="./js/index.js"></script>
    <script src="./js/router.js"></script>

    <link rel="stylesheet" href="./lib/bootstrap.min.css">
    <link href="./lib/propellerkit/dist/css/propeller.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="./lib/mdl/material.min.css">
    <script src="./lib/mdl/material.min.js"></script>

    <script src="dist/app-bundle.js"></script>

</head>
<body ng-controller="indexController as indexCtrl"　ng-cloak>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><img ng-src="{{indexCtrl.value.src.log}}"/></span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
              <a class="mdl-navigation__link" ng-href="./#/signUp">会員登録(無料)</a>
              <a class="mdl-navigation__link" ng-href="./#/login" ng-if="!indexCtrl.value.flag.isLogin">ログイン</a>
              <a class="mdl-navigation__link" ng-href="./#/login" ng-if="indexCtrl.value.flag.isLogin">ログアウト</a>
            </nav>
          </div>
        </header>
        <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">メニュー</span>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" ng-click="indexCtrl.method.clickNav(1);" ng-href="./#/">コース</a>
            <a class="mdl-navigation__link" ng-click="indexCtrl.method.clickNav(2);" ng-href="./#/myPage">マイページ</a>
          </nav>
        </div>
        <main class="mdl-layout__content">
          <div class="page-content">
            <!--メニュー-->
            <div class="menu" ng-if="!indexCtrl.value.flag.isCourse">
                <h1>メニュー</h1>
                <ul>
                    <li><a ng-click="indexCtrl.method.clickMenu('システムアーキテクト');">システムアーキテクト</a></li>
                    <li><a ng-click="indexCtrl.method.clickMenu('情報システム基礎論');">情報システム基礎論</a></li>
                    <li><a ng-click="indexCtrl.method.clickMenu('ネットワーク論');">ネットワーク論</a></li>
                    <li><a ng-click="indexCtrl.method.clickMenu('モデリング実践論');">モデリング実践論</a></li>
                    <li><a ng-click="indexCtrl.method.clickMenu('ソフトウェア設計学');">ソフトウェア設計学</a></li>
                    <li><a ng-click="indexCtrl.method.clickMenu('ファイルとデータベース');">ファイルとデータベース</a></li>
                    <li><a ng-click="indexCtrl.method.clickMenu('数論と代数');">数論と代数</a></li>
                    <li><a ng-click="indexCtrl.method.clickMenu('アルゴリズム論');">アルゴリズム論</a></li>
                    <li><a ng-click="indexCtrl.method.clickMenu('情報システム構築学Ⅰ');">情報システム構築学Ⅰ</a></li>
                </ul>
            </div>
        
            <!--タイトル(パンくずリスト)-->
            <div class="mainContents" ng-cloak ng-if="!indexCtrl.value.flag.isCourse">
                <article class = "mainSection">
                    <div class="mainSectionTitle">
                        <a ng-if="indexCtrl.value.titleString.length==0">コースについて</a>
                        <a ng-if="indexCtrl.value.titleString.length>0" ng-click="indexCtrl.method.clickUrl(1);">{{indexCtrl.value.titleString[0]}}</a>
                        <a ng-if="indexCtrl.value.titleString.length>1" ng-click="indexCtrl.method.clickUrl(2);">{{indexCtrl.value.titleString[1]}}</a>
                        <a ng-if="indexCtrl.value.titleString.length>2" ng-click="indexCtrl.method.clickUrl(3);">{{indexCtrl.value.titleString[2]}}</a>
                    </div>
                    <div ng-view></div>
                </article>
            </div>
        
            <!--マイページ-->
            <div class="topContents" ng-if="indexCtrl.value.flag.isCourse">
                <div ng-view></div>
            </div>
          </div>
        </main>
      </div>
</body>
</html>
