/*.problem-menuBtn{
    position: relative;
    float:right;
    margin-top: -35px;
    margin-right: 20px;
}

.problem-menuBtn i{
    cursor: pointer;
    margin-right: 15px;
}*/

/*.problem-problemFooter{
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
}*/
