<h3>コードの書き方一覧</h3>
    <table class="codeExplainList">
        <tr>
            <th>コード</th>
            <th>結果</th>
            <th>解説</th>
        <tr>
        <tr>
            <td>#titleタイトル#</td>
            <td><h2>タイトル</h2></td>
            <td>「#title」と「#」に囲まれた文字が大きくなります。</td>
        </tr>
        <tr>
            <td>%red赤い文字%</td>
            <td><font color="red">赤い文字</font></td>
            <td>「%red」と「%」に囲まれた文字が赤色になります。</td>
        </tr>
        <tr>
            <td>*bold太い文字*</td>
            <td><b>太い文字</b></td>
            <td>「*bold」と「*」に囲まれた文字が太くなります。</td>
        </tr>
        <tr>
            <td>_under下線_</td>
            <td><u>下線</u></td>
            <td>「_under」と「_」に囲まれた文字に下線が引かれます。</td>
        </tr>
    </table>

<style>
table.codeExplainList {
	border-collapse: separate;
	border-spacing: 1px;
	text-align: center;
	line-height: 1.5;
	border-top: 1px solid #ccc;
}
table.codeExplainList th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}
table.codeExplainList td {
	width: 350px;
	padding: 10px;
	vertical-align: center;
	border-bottom: 1px solid #ccc;
    font-size: 12px;
}
</style>
