<div class="common-course-menu">
    <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth" id="card" ng-click="courseCtrl.method.clickCourse('explain');">
        <div class="pmd-card-media">
            <div class="media-left media-middle">
                <a href="javascript:void(0);">
                    <img width="112" height="112" src="img/explain.jpg">
                </a>
            </div>
            <div class="media-body">
                <h2 class="pmd-card-title-text">解説を見る</h2>
                <span class="pmd-card-subtitle-text">解説を表示します</span>
            </div>
        </div>
        <div class="pmd-card-actions">
        </div>
    </div>

    <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth" id="card" ng-click="courseCtrl.method.clickCourse('problem');">
        <div class="pmd-card-media">
            <div class="media-left media-middle">
                <a href="javascript:void(0);">
                    <img width="112" height="112" src="img/problem.jpg">
                </a>
            </div>
            <div class="media-body">
                <h2 class="pmd-card-title-text">問題を解く</h2>
                <span class="pmd-card-subtitle-text">問題を表示します</span>
            </div>
        </div>
        <div class="pmd-card-actions">
        </div>
    </div>
</div>

<div class="common-course-menu">
    <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth" id="card" ng-click="courseCtrl.method.clickCourse('makeExplain');">
        <div class="pmd-card-media">
            <div class="media-left media-middle">
                <a href="javascript:void(0);">
                    <img width="112" height="112" src="img/makeExplain.jpg">
                </a>
            </div>
            <div class="media-body">
                <h2 class="pmd-card-title-text">解説を作成する</h2>
                <span class="pmd-card-subtitle-text">解説を作成することができます</span>
            </div>

        </div>
        <div class="pmd-card-actions">
        </div>
    </div>

    <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth" id="card" ng-click="courseCtrl.method.clickCourse('makeProblem');">
        <div class="pmd-card-media">
            <div class="media-left media-middle">
                <a href="javascript:void(0);">
                    <img width="112" height="112" src="img/makeProblem.jpg">
                </a>
            </div>
            <div class="media-body">
                <h2 class="pmd-card-title-text">問題を作成する</h2>
                <span class="pmd-card-subtitle-text">問題を作成することができます</span>
            </div>
        </div>
        <div class="pmd-card-actions">
        </div>
    </div>
</div>
