<div class="main-menuSection">
    <div>
        <!--解説を見る-->
        <div class="main-menuExplain">
            <table>
                <tr>
                    <td><img ng-src="{{mainCtrl.value.src.explain}}" alt="" class="main-menuImg"/></td>
                    <td>
                        <p class="main-menuExplain-title">解説を見る</p>
                        <p class="main-menuExplain-summary">
                            自分や他のユーザが作成した解説を見ることができます。<br>他のユーザの解説に評価をつけてみましょう！
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <!--問題を解く-->
        <div class="main-menuExplain">
            <table>
                <tr>
                    <td><img ng-src="{{mainCtrl.value.src.problem}}" alt="" class="main-menuImg"/></td>
                    <td>
                        <p class="main-menuExplain-title">問題を解く</p>
                        <p class="main-menuExplain-summary">
                                自分や他のユーザが作成した問題を解くことができます。<br>他のユーザの問題に評価をつけてみましょう！
                        </p>
                    </td>
                </tr>
            </table>
        </div>

        <!--解説を作成する-->
        <div class="main-menuExplain">
            <table>
                <tr>
                    <td><img ng-src="{{mainCtrl.value.src.makeExplain}}" alt="" class="main-menuImg"/></td>
                    <td>
                        <p class="main-menuExplain-title">解説を作成する</p>
                        <p class="main-menuExplain-summary">
                            自分で新しい解説を作成し、他のユーザと共有することができます。
                        </p>
                    </td>
                </tr>
            </table>
        </div>

        <!--問題を作成する-->
        <div class="main-menuExplain">
            <table>
                <tr>
                    <td><img ng-src="{{mainCtrl.value.src.makeProblem}}" alt="" class="main-menuImg"/></td>
                    <td>
                        <p class="main-menuExplain-title">問題を作成する</p>
                        <p class="main-menuExplain-summary">
                            自分で新しい問題を作成し、他のユーザと共有することができます。
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
